@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrain';
    src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: JetBrain,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.code-light .token{
  filter: brightness(0.8) saturate(1.2);
}